body {
    background-color: white;
  }
  
  h1 {
    color: #343a40;
  }
  
  .table img {
    width: 100px;
    height: auto;
    object-fit: cover;
  }

.todito{
    border-color: black;
}

.hola{
    border: 10px;
}
.container{
    border: 1px solid black;
}
.tbl1{


    
}